<p>{{data.costCode}}</p>
<p>{{data.type}}</p>
<p>{{data.size}}</p>
<p>{{data.extendedSize}}</p>
<p>{{data.description}}</p>
<p>{{data.manufacturer}}</p>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="input.quantity" placeholder="Quantity">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
  <button mat-button [mat-dialog-close]="input" [disabled]="!input.quantity || input.quantity.trim().length === 0 ">Ok
  </button>
</div>
