<h1 mat-dialog-title>{{data.partNumber}}</h1>
<p>{{data.description1}}</p>
<p>{{data.description2}}</p>
<div mat-dialog-content>

  <mat-form-field>
    <input matInput [(ngModel)]="input.quantity" placeholder="Quantity">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="input.costCode" placeholder="Cost Code">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="input" cdkFocusInitial>Ok</button>
</div>
